[Unit]
Description=jetty
[Service]
Type=simple
PIDFile=/opt/jetty/jetty/jetty.pid
EnvironmentFile=/etc/default/jetty.conf
ExecStart=/opt/jetty/bin/jetty.sh start --ip=0.0.0.0 --allow-jetty
[Install]
WantedBy=multi-user.target