[Unit]
Description=jetty
After=
[Service]
Environment=RAILS_ENV=production
Type=simple
WorkingDirectory=/opt/jetty
ExecStart=java -jar /opt/jetty/start.jar&
[Install]
WantedBy=multi-user.target